* {
  font-family: sans-serif;
}

html {
  height: 100%;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body,
.full-height {
  height: inherit;
}

body {
  font-size: var(--font-size-default);
}

h1 {
  font-size: var(--font-size-biggest);
}
h2 {
  font-size: var(--font-size-bigger);
}
h3 {
  font-size: var(--font-size-big);
}
h4 {
  font-size: var(--font-size-mid);
}

small {
  font-size: var(--font-size-smaller);
}
