:root {
  --font-size-biggest: 3rem;
  --font-size-bigger: 2.5rem;
  --font-size-big: 2rem;
  --font-size-mid: 1.7rem;
  --font-size-default: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-smaller: 1.1rem;
}
